@media only screen and (min-width:200px) and (max-width:575px){
    header{
        position: static;
        flex-direction: column;
        align-items: stretch;
        border: none;
        gap: 5px;
    }
    .header-left{
        justify-content: center;
    }
    header .header-left .logo{
        border: none;
    }
    header .header-left .address{
        border-left: 3px solid #cccc;
        padding-left: 10px;

    }
    header .search-box{
        margin-top: -10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    header .header-btns{
        margin-right: 0px;
        padding: 10px 0px 10px 0px;
        position: fixed;
        bottom: 0px;
        width: 100%;
        justify-content: space-evenly;
        gap: 10px;
        background-color: white;
    }

    header .header-btns button{
        width: 40%;
        border-radius: 10px;
    }

    .banner-section{
        display: none;
    }

    .order-banner{
        padding: 10px;
        flex-direction: column;
    }

    .catagory .catagory-items{
        flex-basis: 25%;
    }

    .products-section .heading-row{
        padding: 0px 10px 0px 10px;
    }

    .products-section .product-row{
        padding: 0px 5px 0px 5px;
    }

    .products-section .product-row .product-item{
        flex-basis: 49%;
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .footer-wrap .footer-row-1{
        flex-direction: column;
        padding: 10px;
    }

    .footer-wrap .footer-row-3{
        padding: 0px 10px;
        margin-bottom: 20px;
    }

    .footer-wrap .footer-row-2{
        gap: 10px;
        flex-direction: column;
    }

}